---
import Layout from '~/layouts/PageLayout.astro';
const metadata = { title: 'Contact' };
---

<Layout metadata={metadata}>
  <section class="container mx-auto py-12">
    <h1 class="text-3xl font-bold mb-4">Contact Us</h1>
    <p>If you have any questions, please feel free to contact us.</p>
  </section>
</Layout>
