---
import Layout from '~/layouts/PageLayout.astro';
const metadata = { title: 'Dashboard' };
---

<Layout metadata={metadata}>
  <section class="container mx-auto py-12">
    <h1 class="text-3xl font-bold mb-4">Dashboard</h1>
    <p>This is your dashboard. Manage your account, library, and orders here.</p>
  </section>
</Layout>
