---
const logoSrc = '/src/assets/images/logo.png'; // Make sure the file is placed here
const logoAlt = 'CBB Logo';
---

<a href="/" aria-label="Homepage" class="inline-flex items-center">
  <img src={logoSrc} alt={logoAlt} class="h-[500px] w-[500px]" />
</a>